<div id="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this flat</h2>
        <p>
          <%= flat.description %>
        </p>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            The Space
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Accommodates:  <strong><%= flat.accommodates %></strong></li>
              <li>Bathrooms:  <strong><%= flat.bathrooms %></strong></li>
              <li>Bed type:  <strong><%= flat.bed %></strong></li>
              <li>Bedrooms:  <strong><%= flat.bedrooms %></strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Beds: <strong><%= flat.beds %></strong></li>
              <li>Property type: <strong><%= flat.property %> </strong></li>
              <li>Room type: <strong><%= flat.type %></strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-cutlery"></i><strong>Kitchen</strong></li>
              <li><i class="fa fa-wifi"></i><strong><%= flat.wifi %> </strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-desktop"></i><strong>TV</strong></li>
              <li><i class="fa fa-glass"></i><strong>Welcome drink</strong></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
